<h1>Жито́мир</h1>
<p>Mісто на півночі України, розташоване на річці Тетерів. Адміністративний центр Житомирської області та
Житомирського району, центр Житомирської міської об'єднаної територіальної громади. Населення міста — 261,6 тис. осіб
(01.01.2022), територія — 6500 га[3]. Місто поділяється на Богунський та Корольовський райони.</p>
<p>Житомир є важливим транспортним вузлом: через місто пролягає автошлях М06, який поєднує Київ зі Львовом і Варшавою,
Мінськом та Ізмаїлом, а також автошляхи E40, E583, М21.</p>

<p>Головними вулицями є Київська, проспект Незалежності, Велика Бердичівська, Чуднівська, Перемоги. На річці Тетерів
розташований Гідропарк.</p>

<p>Належить до столичного економічного району. Основними галузями економіки міста є легка, переробна та харчова
промисловість. Житомир є культурним та освітнім центром області.</p>

