<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/66/Житомир%2C_Замковий_майдан_1%2C_Вікаріат.jpg/1920px-Житомир%2C_Замковий_майдан_1%2C_Вікаріат.jpg" alt="">
<p>Житомирський краєзнавчий музей</p>
<img src="https://upload.wikimedia.org/wikipedia/commons/0/04/Korolev-museum-zhytomyr.jpg" alt="">
<p>Музей космонавтики імені Сергія Павловича Корольова</p>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Літературно-меморіальний_музей_В.Г._Короленка.jpg/1920px-Літературно-меморіальний_музей_В.Г._Короленка.jpg" alt="">
<p>Літературно-меморіальний музей В. Г. Короленка</p>
